 ![Emil]()

# Vizualize with Plotly

## Explore visualisations types

Explore [this website](https://www.data-to-viz.com/#area), it gives a very good overview of the different types of graphs that are possible to make during a data analysis. It gives detailed explanations of each representation with the interpretation errors not to be made.

Depending on the situation, suggest a type of graph that would be relevant to make:

a) We wish to observe the distribution of a numerical variable to know its extreme values.

b) We wish to represent the evolution of the composition of a financial portfolio over time. The portfolio is the sum of several assets.

c) We wish to observe the relationship between two numerical variables.
The idea is to be able to decide if there is a correlation or not.

Is it the same graph if we want to observe the correlation between several numerical variables?

## Plotly visualisation

Before practicing Plotly Express, let's first have a look at graphical objects.

It allows you to customize simple graphics by adding visuals.

a) Import the following librairies

In [ ]:
import numpy as np
from collections import Counter

import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

b) Using the alias go, create a new figure to be called `fig`.

In [ ]:
import plotly.graph_objects as go

# Create a new figure called fig
fig = go.Figure()

c) Create a first graphical object of type Scatter which will be a single line between points A(2, 7) and B(3, 8). Store this object in a variable `first_line_object`.

In [ ]:
import plotly.graph_objects as go

# Define the coordinates of points A and B
x_coords = [2, 3]
y_coords = [7, 8]

# Create a Scatter plot with a line connecting points A and B
first_line_object = go.Scatter(x=x_coords, y=y_coords, mode='lines')

# Create a new figure called fig and add the first line object to it
fig = go.Figure(first_line_object)

d) Add this variable to your figure using the add_trace() method and then view the result with the show() method.

In [ ]:
import plotly.graph_objects as go

# Define the coordinates of points A and B
x_coords = [2, 3]
y_coords = [7, 8]

# Create a Scatter plot with a line connecting points A and B
first_line_object = go.Scatter(x=x_coords, y=y_coords, mode='lines')

# Create a new figure called fig
fig = go.Figure()

# Add the first_line_object to the figure
fig.add_trace(first_line_object)

# View the result
fig.show()

e) Graphical objects allow to realize very complex graphs by adding multiple graphical objects, but the writing is a bit heavy.

That's why Plotly Express library has been developed to save time and flexibility when manipulating DataFrame. It is always better to use Plotly Express first and if it is not enough to achieve what you want then use graphical objects.

Make the same graph as before but with the `line` function of Plotly Express.

In [ ]:
import plotly.express as px

# Define the coordinates of points A and B
x_coords = [2, 3]
y_coords = [7, 8]

# Create a DataFrame containing the coordinates of points A and B
df = pd.DataFrame({'x': x_coords, 'y': y_coords})

# Create a line plot using Plotly Express
fig = px.line(df, x='x', y='y')

# View the result
fig.show()

f) Let's see Plotly Express in action now.

Consider the example given in the Plotly Express documentation.
Run the following code and look at  data. What do they represent?

In [ ]:
df = px.data.gapminder()
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

g) Using the `bar` function, represent as a bar the evolution of the Colombian life expectancy through time.

In [ ]:
import plotly.express as px

# Load the Gapminder dataset
df = px.data.gapminder()

# Filter the dataset for Colombia
colombia_data = df[df['country'] == 'Colombia']

# Create a bar plot for Colombian life expectancy over time
fig = px.bar(colombia_data, x='year', y='lifeExp', title='Evolution of Colombian Life Expectancy')
fig.show()

h) We want to make the same chart for the countries Colombia, Ecuador and Peru.

Look at the documentation to make 3 bar charts per year. We will use different colors for each country.

Hint : look at DataFrame's method isin() to filter on more than one value

In [ ]:
import plotly.express as px

# Load the Gapminder dataset
df = px.data.gapminder()

# Filter the dataset for Colombia, Ecuador, and Peru
countries = ['Colombia', 'Ecuador', 'Peru']
filtered_data = df[df['country'].isin(countries)]

# Create a bar chart for each country with different colors
fig = px.bar(filtered_data, x='year', y='lifeExp', color='country', title='Evolution of Life Expectancy (Colombia, Ecuador, Peru)')
fig.show()

i) We decide to change the representation by using line plots instead of bar plots.

Change the code to achieve this. Practical, isn't it?

In [ ]:
import plotly.express as px

# Load the Gapminder dataset
df = px.data.gapminder()

# Filter the dataset for Colombia, Ecuador, and Peru
countries = ['Colombia', 'Ecuador', 'Peru']
filtered_data = df[df['country'].isin(countries)]

# Create a line chart for each country with different colors
fig = px.line(filtered_data, x='year', y='lifeExp', color='country', title='Evolution of Life Expectancy (Colombia, Ecuador, Peru)')
fig.show()

l) Sizes, colors are dimensions that can be used to add more information to a graph.

Display for year 2007 only and for continent "Americas" only, the relation (find the right graph to visualize the correlations) between the variables `gfpPercap` (PIP per capita) and `lifeExp` with colors differentiated by country and a size of points proportional to the size of the population of the concerned country.

The argument `size_max` can be set to 60 to increase the size of the points while keeping the same proportions.

In [ ]:
import plotly.express as px

# Load the Gapminder dataset
df = px.data.gapminder()

# Filter the dataset for the year 2007 and the continent "Americas"
filtered_data = df[(df['year'] == 2007) & (df['continent'] == 'Americas')]

# Create a scatter plot
fig = px.scatter(filtered_data, 
                 x='gdpPercap', 
                 y='lifeExp', 
                 size='pop', 
                 color='country', 
                 title='Relationship between GDP per Capita and Life Expectancy (2007 - Americas)',
                 size_max=60)

# Show the plot
fig.show()

l) A lot of information is shown, but it would be good to also show the `iso_alpha` code of the country.

Looking at the documentation, add the `iso_alpha` code of the country when you pass over a circle with the mouse.

In [ ]:
import plotly.express as px

# Load the Gapminder dataset
df = px.data.gapminder()

# Filter the dataset for the year 2007 and the continent "Americas"
filtered_data = df[(df['year'] == 2007) & (df['continent'] == 'Americas')]

# Create a scatter plot
fig = px.scatter(filtered_data, 
                 x='gdpPercap', 
                 y='lifeExp', 
                 size='pop', 
                 color='countr

m) The previous graph represents only the year 2007, how to represent all the years?

One of the solutions is to use a new dimension: the time dimension by creating an animation.
Look at the documentation and add the year as an animation (don't forget to pass all the dataframe and not only the years from 2007 ...).

By default the limits on each axis are calculated for the first year, you can set a given window using the `range_x` and `range_y` arguments ...